/artifacts/
.idea
Sandbox/bin/*
Sandbox/obj/*
NyxRender/bin/*
NyxRender/obj/*
NyxAssets/bin/*
NyxAssets/obj/*
Tests/bin/*
Tests/obj/*
/NyxDrawer/obj
/NyxDrawer/bin
NyxFramework.sln.DotSettings.user
/NyxGUI/bin
/NyxGUI/obj
/NyxUltraGUI/bin
/NyxUltraGUI/obj
/_tomlcheck
_tomltest.cs
/_fonttest
/NyxGUIRender/bin
/NyxGUIRender/obj
/Sandbox/NyxGUI_Extend/bin
/Sandbox/NyxGUI_Extend/obj
/NyxScript/bin
/NyxScript/obj
/NyxRenderAbstractions/bin
*.cache
/NyxRenderAbstractions/obj
/NyxRenderVulkan/bin
/NyxRenderVulkan/obj/Debug
/NyxRenderVulkan/obj
Sandbox/resources/assets/things.json
Sandbox/resources/assets/Nyx.assets
/NyxNetwork/bin
/NyxNetwork/obj
/NyxGameMap/bin
/NyxGameMap/obj
/NyxCore/bin
/NyxCore/obj
/NyxGameCore/bin
/NyxGameCore/obj
/NyxStructs/bin
/NyxStructs/bin
/NyxStructs/obj
/Sandbox/NyxGameCore/bin
/Sandbox/NyxGameCore/obj
/Sandbox/NyxGameMap/bin
/Sandbox/NyxGameMap/obj
/MapConverter/bin
/MapConverter/obj
